<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="stylesheet" href="./fonts/stylesheet.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/icons.css">
</head>
<body>
    <div class="login">
        <header class="login__header">
            <h1>Login</h1>
        </header>
        <div class="login__body">
         <form class="login__form">
             <label>
                 <p>Username:</p>
                 <input type="text" required autocomplete="off">
             </label>
             <label>
                <p>Password:</p>
                <input type="password" required>
            </label>
            <button type="submit">Login</button>
         </form>   
        </div>
    </div>

    <script src="./js/main.js"></script>
</body>
</html>